body{
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: myfirstfont;
    src: url(assets/Norse-Bold.otf);
}

.main-container{
    position: relative;
    display: flex;
    flex-direction: column;
}

.on-top{
   
}

.logo-container{
    display: flex;
    position: absolute;
    width: 40vh;
    background: black;
    opacity: 0.6;
    color: white;
    top: 8rem;
    text-align: center;
    font-size: 1.2em;
}

.logo-container h3{
    font-family: myfirstfont;
}
.image-container {
    position: relative;
    width: 40vh;
    height: 100vh;
}
.logo-background-image{
    position: absolute;
    height: 100vh;
    width: 40%;
    object-fit: cover
    
}

.sign-up-containe{
     position: relative;
     left : 10px;
}

.image-body{
    position: absolute;
    width : 40%;
}
